#icon-table {
    background-color: #CEE7B4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.icon-box{
    display: flex;
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

.icon-text {
    padding-left: 50px;
}

#banner {
    width: 100vw;
    height: 56.25vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/flowershop.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}

#banner-1 {
    color: white;
    font-size: 35px;
    text-align: center;
}

#banner-2 {
    background-color: greenyellow;
    color: white;
    font-size: 45px;
    text-align: center;
    border-radius: 40px;
    height: 70px;
}

#banner-text2 {
    margin: 10px;
    padding: 0 15px 0 15px;
}

.button{
    background-size: cover;
    background-position: center center;
    width: 10vw;
    height: 10vw;
}
